extends layout

block content
  div.container
    div.jumbotron
      h1 Welcome to #{url}
    div.col-lg-12
      div.row
        form(action=url, method='POST')
          div.formgroup
            button.default.btn.btn-primary(type="submit") Post to this url.